name: "Build and deploy Github pages"

on:
  push:
    branches:
      - master
    paths:
      - "doc/**"
      - ".github/workflows/gh-pages.yml"

jobs:

  build-and-deploy:
    runs-on: ubuntu-latest

    steps:

      - name: "Checkout"
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: "Set up Node 18"
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: "Install Node dependencies"
        run: |
          npm install

      - name: "Build Doc"
        run: |
          npx enlightme
          touch doc.generated/.nojekyll

      - name: "Deploy Github Pages"
        uses: JamesIves/github-pages-deploy-action@v4.6.8
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: doc.generated/
